{% extends "base.html" %}
{% block head %}
    <link href="/static/css/filepond.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.css">
    </link>
    <link rel="stylesheet" href="/static/css/ayu-mirage.css">

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.js">
    </script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/mode/markdown/markdown.min.js">
    </script>
    <style>
        .CodeMirror {
            border: 1px solid #eee;
            height: auto;
        }
    </style>
{% endblock %}
{% block content %}
    <form method="post">
        <div class="form-group">
            <label for="name">Page name</label>
            <input type="text" class="form-control" id="name" name="PN" value="{{ title }}">
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea style="display: none;" class="form-control" id="content" rows="25"
                      name="CT">{{ content }}</textarea>
        </div>
        <input type="file" multiple>
        <p id="message"></p>
        <button type="submit" class="btn btn-primary mb-2">Save</button>

    </form>
    <script type="text/javascript" src="/static/js/new.js"></script>
    <script>
        {% if system.darktheme == True%}
            editor.setOption("theme", "ayu-mirage");
        {% endif %}
    </script>
{% endblock %}
